article, footer, header, nav, main, aside, details, figcaption, 
figure, hgroup, menu, section
{
    display:block;
}
html {
    background-image:url('../pics/bg_dark.jpg');
}
#container {
   background-color:#C4C4C4;
    width:auto;
    margin:auto;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-left-radius: 50px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
}

header {
    width:auto;
}

nav {
    background-color: #B50C00;
    text-transform: capitalize;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-left-radius: 50px;
    width:auto;
    
}
nav ul {
   margin:5px;    
   width:auto;
   max-width:250px;
   border-radius:10px;
   padding:5px;
}
nav li {
    display: inline;
    width:auto;
}
nav li a {
    background-color: black;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    font-family: verdana;
    width:90%;
    padding-top:5px;
    margin:11px 3px 3px 3px;
    border-radius:10px;
    text-align:center;
}

nav a:hover {
    background-color: #FFFFFF;
    color:black;
}
nav li a.active {
    background-color: #FFFFFF;
    color:black;
}
article .headerText {
    color: #AAAAAA;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin: 20px 3px 20px 3px;
    text-align:center;
    
}
article.mall_article {
    margin:15px;
    width:100%;
    max-width:280px;
}
#buttons {
    float:left;
    margin-left: 230px;
    margin-top: 50px;
}
#yellow_button {
    float:left;
    margin-left: 50px;
    margin-top: 50px;
}
#green_button {
    float:left;
    margin-left: 50px;
    margin-top:50px;
}
#buttons a:hover {
background:url('pics/add_pushed.png');
	width:200px;
	height:200px;
}
footer {
    background-color: #B50C00;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    width:auto;
    
    
}
footer article {
        color: #AAAAAA;
        font-size: 15px;
        text-align:right;
        width:90%;
        margin-right:3px;
}
/*---------------------------JONAS NEDAN--------------------------*/
/*---------------------------Thread_Sida--------------------------*/
.thread header {
    width:auto;
    margin:10px;
    
}
.thread_main_content {
    background-color:#EDEDED;
}
.thread_main_content p {
    margin:10px;
}
.forum_border_bottom {
    border-bottom: medium solid #C4C4C4;
    height: 1px;
    
}
/*---------------------------Profile_Sida--------------------------*/
.user_info {
    margin-left:10px;
    margin-right:10px;
}
.user_info header {
    color:white;
    height:163px;
    width:auto;
    background-image:url(../pics/stripe.png);
    background-repeat: repeat;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.user_info header h2 {
    color:white;
    height:163px;
    width:auto;
    margin:10px;
}
.user_info header p {
    margin-left: 10px;
    margin-top: -130px;
}
section .side_menu_profil {
  display:inline;
}
section .side_menu_profil li {
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
section .side_menu_profil a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 5px;
  text-decoration: none;
  font-weight: normal;
  display:inline;
}
.presentation {
    background-color:#DED990;
    width:auto;
    min-height:620px;
    
    border-style:solid;
}
.presentation p {
    margin-left:10px;
}
.presentation h2 {
    margin-left:10px;
}
/*---------------------------Forum_Sida--------------------------*/
.forum_content {
    margin-top:20px;
    margin-left:10px;
    min-height:640px;
    width:420px;
    background-image: url(../pics/forumStripe.png);
    background-repeat: repeat;
    border-style:solid;
}
.forum_content a {
    color:black;
}
.forum_content p {
    line-height:14px;
    margin-left:10px;
}
.forum_content b {
    margin-left:10px;
}
article .forum_navi {
  margin-top: 100px;
  display: inline;

}
article .forum_navi li {
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  display: inline;
}
article .forum_navi a {
  background: #333;
  color: #ccc;
  display: block;
  padding: 10px 3px;
  text-decoration: none;
  font-weight: normal;
  display: inline;
  margin:-2px;
}
#search-box {
    position: relative;
    width: 330px;
    padding:10px;
}
#search-form {
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
#search-text {

    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    padding: 11px 0 12px 1em;
    color: #333;
}
#search-button {
    position: absolute;
    top: 9px;
    right: 0;
    height: 42px;
    width: 80px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background-color: #999;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
#side_info {
    display:none;
}
.thread_side_content p {
    font-weight:bold;
}

/*--------------------------------*/


#registration, #contact {
    color: #fff;
    background: #2d2d2d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: auto;
    max-width:250px;
    margin:5px;
    padding:3px;
    
}

#cardtext{
    border-top:dotted;
    margin-left:7px;
    margin-right:7px;
    margin-top:7px;
}

textarea{
    max-width:70%;
}

#registration a {
    color: #B50C00;
}

input.text {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:solid 1px #444;
    font-size: 14px;
    width: 70%;
    background: #ddd;
    color:#333;
    margin:2px;
    padding:2px;
}
label{
    margin-left:7px;
    width:90%;
    
}

#registration h2 {
    
    color: #fff;
    text-align: center;
    
    font-weight: normal;
    font-size: 16px;
    font-family: Lucida Grande, Helvetica, Arial, sans-serif;
    border-bottom: solid #181818 1px;
}

#registerNew {
    width: 60%;
    background-color: #B50C00;
    color: #fff;
    font-weight:bold;
    display:box;
    margin-left:7px;
}

.newsheader{
    background:white;
    border:3px solid black;
    width:auto;
    max-width:85%;
    text-align:center;
    margin-left:15px;
   margin-right:15px;
   
    margin-top:15px;
}

 .newsarticle img{   
    border:3px solid black;
    width:auto;
    max-width:90%;
    
}

.newsarticle h4, .newsarticle h3{
    text-align:center;
}
.pctext, .nomobile, #nomobile{
    display:none;
}

.newsarticle p{
    margin:7px;
}

#side{
    
    margin:7px;
}
#news{
    width:auto;
    max-width:90%;
    margin:auto;
    background:#DED990;
    margin:7px;
         padding-top:10px;
         padding-bottom:10px;
          -moz-border-radius-bottomright: 50px;
     border-top-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-left-radius: 50px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    border:3px solid black;
}

 